# Compiled output
/dist
/node_modules
/docs
/coverage

# Logs
*.log

# OS
.DS_Store

# IDEs and editors
/.idea
/.settings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Src examples
/src/examples